/* various fordel specific customizations and tweaks */

.circle {
	border-radius: 5%!important;
}

.contactavatar {
  width: 80%!important;
}

.smaller {
  font-size:75%;
  margin-bottom:10px;
}



#mc_embed_signup input {
	margin-top:30px
}


/* Wedding content customizations */

.ig {
	width: 100%;
	margin: auto;
	align:center;
}

#wedding-tos a {
	border-bottom: 0px;
}

#wedding-tos li:hover {
	background-color:rgb(242, 242, 242);
}


.totop {
	color:#2e3842;
	border-bottom: 0px;
	padding-left:10px;
	opacity: 0.25;
	font-size: 130%
}

.bgtheme-wedding {
  	background: linear-gradient( rgba(46, 56, 66, 0.92), rgba(46, 56, 66, 1)), url('../images/wedding-marketing.jpg');
		background-size:cover;

  }

/* Client Story Related Customizations */

.bgtheme-clientstory-tickeron {
  	background: linear-gradient( rgba(46, 56, 66, 0.75), rgba(46, 56, 66, 1)), url('../../images/tickeron-case-study-background.jpg');
  }

.bgtheme-clientstory-solutionsurfers {
  	background: linear-gradient( rgba(46, 56, 66, 0.75), rgba(46, 56, 66, 1)), url('../../images/case-study-image-solutionsurfers.jpg');
	  }

/* Contacts page related customizations */

.companydetails span
{
		vertical-align: middle;
	}
