<!-- Footer Default -->
<footer id="footer">
    <ul class="icons">
      <li><a target="_blank" href="mailto:{{site.email}}" class="icon fa-envelope-o"><span class="label">E-mail</span></a></li>
      <li><a target="_blank" href="{{site.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a target="_blank" href="{{site.linkedin}}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
      <li><a target="_blank" href="tel:{{site.telephone}}" class="icon fa-phone"><span class="label">Phone</span></a></li>
    </ul>
    <ul class="copyright">
    <li>Fordel OÜ</li>
    <li>Registered in Estonia, EU
    <li>Registry code: <a href="https://ariregister.rik.ee/index?lang=eng" target="_blank">14542302</a></li>
  </ul>
</footer>
