<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{site.blog}}" target="_blank" style="right:1em"><i class="" aria-hidden="true"></i>Blog</a></li>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>More</span></a>
        <div id="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/services">What We Do</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
