<head itemscope itemtype="http://schema.org/WebSite">
  <!-- Google Tag Manager env:live -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=rdpvkHRvGEZbyPJC1iw6Eg&gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MZPGJ6');</script>
  <!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="72RFIv4anUwaroAXKMArzaG_ZvGFg8KG-TmlzKvGT6M" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title itemprop='name'>{% if page.metaTitle %}{{ page.metaTitle | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/tagcloud.css" | prepend: site.baseurl }}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{page.ogTitle}}"/>
    <meta property=”og:description” content=”{{page.ogDescription}}” />
    <meta property="og:url" content="{{}}" />
    <meta property="og:site_name" content="Fordel Agency" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{site.url}}/{{page.ogImage}}"/>
    <link rel="icon" type="image/png" href="http://fordel.agency/images/favicon.png">
    {% if page.robots %}<meta name="robots" content="{{page.robots}}">{% endif %}
  </head>
