<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
<!--
        <li><a href="https://calendly.com/dan-fordel/30min" target="_blank" class="button small icon fa-phone" style="right:2em">Call</a></li>  
        <li class="special">
        <a href="#menu" class="menuToggle"><span>More</span></a>
          <div id="menu">
            <ul>
              <li><a href="index.html">Home Page</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Case Studies</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
        </li>
      -->
    </ul>
  </nav>
</header>
