<section id="three" class="wrapper style5 special" style="background-image: url('../images/request-bg.jpg'); background-size:cover">
  <div class="inner">
    <header class="major">
      <h2>State of Wedding Content Marketing 2017</h2>
      <p>We looked into this and got some great insights out of our research,<br />
      probably you should check this out.</p>
    </header>
    <ul class="actions">
      <li><a href="/case-studies" class="button">Learn about the results</a></li>
    </ul>
  </div>
</section>
