<!DOCTYPE html>

<html>

  {% include head.html %}
  <body>
    <!-- gtm noscript -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZPGJ6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% if page.transparent-footer == true %}
      {% include footer-transparent.html %}
      {% else %}
          {% include footer.html %}
      {% endif %}



      {% include scripts.html %}

    </div>

  </body>

</html>
