<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="landing">
    <!-- Google Tag Manager (noscript) env:live -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZPGJ6&gtm_auth=rdpvkHRvGEZbyPJC1iw6Eg&gtm_preview=env-2&gtm_cookies_win=x"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
      {% include scripts.html %}
    </div>
  </body>
</html>
