---
layout: default
---

<article id="main-single-blogpost" style="background-image: url('../images/wedding-marketing.jpg')">

  <header>
    <h2>{{ page.userTitle }}</h2>
    <p><i class="fa fa-user" aria-hidden="true"></i> {{ page.author }} <br /> <i class="fa fa-calendar" aria-hidden="true"></i> {{page.publishedDate}}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">

      {{ content }}


    </div>
  </section>

<!-- CTA -->


  <section id="cta" class="wrapper style1">
    <div class="inner">
      <header>
        <p>Let’s have a 20 minute chat about your project to see if we can do some magic together. Completely free, no obligations.</p>
      </header>
      <ul class="actions vertical">
        <li><a href="https://calendly.com/dan-fordel/30min" class="button special big icon fa-phone" target="_blank">Schedule Call</a></li>
      </ul>
    </div>
  </section>


</article>
