---
layout: default
---

<article id="main-single-blogpost" style="background-image: url('../images/wedding-marketing.jpg')">

  <header>
    <h2>{{ page.userTitle }}</h2>
    <p><i class="fa fa-user" aria-hidden="true"></i> {{ page.author }} <br /> <i class="fa fa-calendar" aria-hidden="true"></i> {{page.publishedDate}}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">

      {{ content }}

      <ul class="share-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffordel.agency&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ffordel.agency&title=&summary=&source=http%3A%2F%2Ffordel.agency" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ffordel.agency&text=:%20http%3A%2F%2Ffordel.agency&via=dansallai" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Ffordel.agency&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i><span class="sr-only">Pin it</span></a></li>
      </ul>

    </div>
  </section>

<!-- CTA -->


  <section id="cta" class="wrapper style1">
    <div class="inner">
      <header>
        <p>Let’s have a 20 minute chat about your project to see if we can do some magic together. Completely free, no obligations.</p>
      </header>
      <ul class="actions vertical">
        <li><a href="https://calendly.com/dan-fordel/30min" class="button special big icon fa-phone" target="_blank">Schedule Call</a></li>
      </ul>
    </div>
  </section>


</article>
